* {
    font-family:  'Roboto Slab', serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.common-padding{
    padding: 75px 0; 
}
/* navbar part css */
.goodreaders-navbar {
    background-color: #fff;
    height: 99px;
    background-size: cover;
}
.goodreaders-navbar .goodreaders-navbar-nav .nav-link {
    color: #000000;
    font-size: 16px;
}
.navbar-toggler.button-light {
    border: 2px solid #fff;
}
.goodreaders-navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
}
.nav-item {
    padding: 0 10px;
    margin: 0 8px;  
}
.goodreaders-navbar .goodreaders-navbar-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 14px;
    padding: 14px 30px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
   
}
.goodreaders-navbar .goodreaders-navbar-nav a:hover {
    background: #ffb606;
    box-shadow: 0px 4px 0px 0px #ebe7e7;
}
/* footer part css */
.footer {
    background-image: url(../images/footer1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000069;
}
.update {
    font-size: 25px;
    font-weight: 600;
    color: #ebe7e7;
    z-index: 1;
    position: relative;
}
.footer-subscribe {
    display: flex;
    z-index: 1;
    position: relative;
}
.footer-subscribe #staticEmail {
    background-color: #ebe7e7;
    color: #07294d;
}
.btn-subscribe{
    font-family: "Abril Fatface", cursive;
    background-color: #ffb606;
    color: #ebe7e7;
    font-size: 18px;
    font-weight: 600;
    width: 60%;
}
.social-icon {
    justify-content: center;
    display: flex;
    z-index: 1;
    position: relative;
}
.social-icon a {
    width: 40px;
}
.social-icon-img {
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
}
/* banner left part css */
.banner{
    background-position: center;
    background-image: url(../images/banner-bg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}
.banner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 19%);
}
.banner-left {
    padding: 50px 0 0 50px;
    margin: 50px 0 0 50px;
}
.banner-left-text {
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    color: #ebe7e7;
    position: relative;
    z-index: 1;
} 
.banner-btn-div {
    width: 70%;
    z-index: 1;
    position: relative;
}
.btn-singup{
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    font-size: 26px;
    color: #ffb606;
    transition: 2.1s ease-in-out;
    
}
.btn-singup:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #ffb606;
}
/* best platform part css */
.best-platform-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 40px;
    color: #fff;
}
.best-platform-part {
    background-color: #07294d;
    height: 190px;
}
.best-platform-part-img {
    padding: 24px;
}
.best-platform-text {
    color: #fff;
    padding: 5px;
}
/* welcome to e-learning part css */
.e-lerning-paragraph {
    text-align: center;
}
.e-learning-text {
    font-size: 17px;
    padding-bottom: 50px;
}
.e-learning-details-block-text {
    text-align: center;
    font-size: 14px;
}
.e-learning-details-logo {
    justify-content: center;
}
.e-learning-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.e-learning-details-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.e-learning-details-block-title {
    text-align: center;
    font-size: 22px;
    color: #07294d;
}
.program-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.program-text {
    font-size: 17px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
.program-common-padding {
    padding: 20px 0;
}
.program-padding {
    padding: 30px;
}
/* now start */
.now-start {
    background-image: url(../images/background-img.jpg);
    overflow: hidden;
    position: relative;
}
.now-start::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
}
.now-start-paragraph {
    position: relative;
    z-index: 1;
}
.now-start-paragraph h1 {
    color: #fff;
    font-size: 35px;
}
.now-start-paragraph p {
    color: #fff;
}
.btn-now-start-div {
    width: 120%;
}
/* execellent part css */
.excellent-heading {
    font-weight: 700;
    font-size: 30px;
    color: #07294d;
    text-align: center;
}
.excellent-text {
    font-size: 14px;
    margin: auto;
    padding: 15px 0;
    margin-bottom: 25px;
}
.excellent-icon-text {
    padding-left: 20px;
    font-size: 15px;
}
/* testimonial */
.testimonial {
    background-color: #07294d;
    height: 300px;
}
.testimonial-heading {
    padding-top: 50px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.testimonial-text1 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.testimonial-text2 {
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.testimonial-text3 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
}
/* join our community */
.community-paragraph {
    text-align: center;
}
.community-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.community-text {
    font-size: 17px;
}
.community-btn-div {
    text-align: center;
    padding: 40px 0;
}
.btn-resume {
    font-family: "Abril Fatface", cursive;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: #fff;
    background: none;
    width: 14%;
    height: 50px;
    transition: 1s all ease-in-out;
}
.btn-resume:hover {
    color: #0d0d0d;
    background-color: #ebe5e5e8;
}
.btn-resume::before{
    position: absolute;
    content: "";
    z-index: -1;
    background-color: #07294d;
    transition: 1s all;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s all ease-in-out;
    width: 100%;
}
.btn-resume:hover::before {
    height: 0;
    transition: 1s all ease-in-out;
}
/* about.html page css */
/* choose-us part css */
.choose-us-paragraph {
    text-align: center;
    padding: 50px 0;
}
.choose-us-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.choose-us-text {
    font-size: 17px;
    padding-bottom: 50px;
}
.accordion li {
    list-style: none;
    background-color: #ffffff1f;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.167),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.32);
    padding: 20px;
}
.accordion li label {
    display: flex;
    align-items: center;
    font-size: 22px;
    color:#07294d;
    font-weight: 600;
    cursor: pointer;
}
.accordion li label::before {
    content: '+';
    font-weight: 600;font-size: 18px;
    color:#07294d;
    padding: 10px;
}
.accordion input[type='radio']{
    display: none;
}
.accordion .content {
    font-size: 17px;
    padding: 0 10px;
    line-height: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type='radio']:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}
/* posibilities */
.posibilities {
    padding: 50px 0;
}
.posibilities-part {
    background-color: #07294d;
}
.posibilities-paragtaph {
    text-align: center;
}
.posibilities-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.posibilities-text {
    font-size: 17px;
    color: #fff;
}
.posibilities-card {
    padding-top: 50px;
}
.posibilities-card-box {
    background: #fff;
    padding: 20px;
    box-shadow: #ffffff21 1px 3px 2px 1px;
}
.posibilities-card-box-title {
    font-size: 25px;
    text-align: center;
    color: #07294d;
}
/* teacher.html page css */
/* teacher details part css */
.teacher-details {
    text-align: center;
    margin-bottom: 50px;
}
.teacher-details-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under; 
}
.teacher-text {
    font-size: 18px;
}
.teacher-paragraph {
    padding: 50px 0;
    z-index: 1;
    position: relative;
}
.teacher-div {
    text-align: center;
}
.teacher-name {
    font-size: 22px;
    font-weight: 600;
    color:#fff;
}
.teacher-designation {
    font-size: 16px;
    color: #fff;
}
.teacher-social-div {
    display: flex;
    justify-content: center;
}
.teacher-social-id a {
    padding: 5px;
    color: #fff;
}
.teacher-social-id a:hover {
    color:#ffb606;
}
.teacher-info-details {
    width: 280px;
    height: 305px;
    padding: 20px 40px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    transition: 1s ease-in-out;
    box-shadow: 0 7px 10px #fff;
}
.teacher-info-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color:rgb(22 22 23 / 61%);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    transition: 1s ease-in-out;
}
.teacher-info-details:hover::before {
    opacity: 1;
}
.teacher-info-details img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.teacher-info {
    position: relative;
    z-index: 3;
    opacity: 1;
    transform: translateY(30px);
    transition: 0.5s all;
}
.teacher-info-details:hover .teacher-info {
    opacity: 1;
    transform: translateY(0px);
}

/* courses.html page css */
.course-banner {
    background-image: url(../images/course-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.course-banner::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
   background-color: #000000a8;
}
.course-banner h1 {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 80px;
    z-index: 1;
    position: relative;
}
.courses {
    padding-top: 50px;
}
.our-courses {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #ffb606;
    padding: 20px 0;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.course-card-padding {
    margin-bottom: 25px;
    }
.card-course-shadow {
    box-shadow: 1px 1px 8px 1px #ebe7e745;
    text-align: center;
    }
.card-course-shadow h5 {
    color: #07294d;
    font-weight: 600;
    }
.card-course-shadow p {
    font-size: 14px;
    }
.course-card-buttom {
    box-shadow: #f3eeee 4px 3px 5px 1px;
}
.author-fees {
    background: #ffb606;
    height: 48px;
}
.author-fees p {
    padding: 9px 0;
    color: #fff;
    font-size: 20px;
}
.course_author_name {
    padding: 0 5px;
    font-size: 14px;
}
/* training */
.training {
    padding-left: 50px;
    background-color: #07294d;
}
.training-paragraph {
    height: 200px;
    padding: 50px 0;
}
.training-text {
    color: #fff;
    font-size: 16px;
}
.training-heading {
    color: #fff;
    font-size: 18px;
}
.training-btn-div {
    text-align: right;
    padding-right: 50px;
    margin-right: 50px;
}
/* contact.html page css */
/* contact form part css */
.contact-form-padding {
    padding-bottom: 10px;
}
.contact-form {
    padding: 50px;
    background-image: url(../images/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 1;
    position: relative;
}
.contact-form::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(19 5 25 / 35%);
    z-index: 0;
    }
.form-part{
    z-index: 1;
    position: relative;
}
.form-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
    position: relative;
    z-index: 9;
}
.form-text{
        font-size: 18px;
        color: #ebe7e7;
        padding-bottom: 10px;
        position: relative;
        z-index: 9;
    }
.contact-form-button-div {
    width: 235%;
    position: relative;
    z-index: 9;
}
.btn-contact-form {
    font-family: "Abril Fatface", cursive;
    font-size: 18px;
    width: 35%;
    font-weight: 600;
    background-color: #ffb606;
    color: #ebe7e7;
    border: solid 2px #07294d;
    box-shadow: 1px 1px 2px 1px #ebe7e745;
}
.contact-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.contact-info-text {
    font-size: 18px;
}
.direct-line {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #07294d;
}
.direct-line-phone {
    font-size: 40px;
    text-decoration: underline #ebe7e7;
}
.list {
    padding: 50px 0;
}
.list li {
    font-size: 20px;
    padding-bottom: 15px;
}

/* event page html */
.event {
   padding: 50px 0;
}
.event-paragraph {
    text-align: center;
}
.event-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.event-text {
    font-size: 18px;
    padding-bottom: 50px;
}
.event-date {
    text-align: center;
    font-size: 18px;
    color: #07294d;
    background-color: #fff;
    border: 2px solid #f3eeeede;
    height: 45px;
    padding: 5px;
    box-shadow: 1px 1px 3px 2px #fff9f9c2;
}
.event-activity {
    text-align: center;
    font-size: 18px;
    color: #07294d;
    background-color: #fff;
    border: 2px solid #f3eeeede;
    height: 45px;
    padding: 5px;
    box-shadow: 1px 1px 3px 2px #fff9f9c2;
}
/* apply for */
.apply-for {
    padding-bottom: 50px;
}
.apply-for-box {
    background-color: #07294d;
}
.apply-for-fall {
    padding: 20px;
}
.apply-for-fall-title {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    text-decoration: underline #fff 2px;
    text-underline-position: under;
}
.apply-for-fall-text {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.apply-for-scholarship-title {
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding-bottom: 20px;
    text-decoration: underline #fff 2px;
    text-underline-position: under;
}
.apply-for-scholarship-text {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.apply-for-button-div {
    text-align: center;
}
/* upcoming event */
.upcoming-event-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.upcoming-event-box {
    padding-bottom: 30px;
}
.upcoming-event-box-date-part {
    background-color: #07294d;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.upcoming-event-box-date-part span {
    font-size: 20px;
}
.upcoming-event-box-date-part p {
    font-size: 20px;
}
.upcoming-event-box-body-part a {
    color: black;
    font-size: 20px;
}
/* admission.html page css */
/* form right part css */
.admission-form-section {
    margin: 50px 0;
}
.admission-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
    padding-bottom: 20px;
    text-decoration: underline #ffb606 2px;
    text-underline-position: under;
}
.btn-admission-div {
    width: 155%;
}
/* eduwise */
.eduwise {
    background-color:#07294d;
}
.eduwise-paragrph {
    text-align: center;
    padding: 50px 0;
}
.eduwise-title {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-bottom: 20px;
    text-decoration: underline #fff 2px;
    text-underline-position: under;
}
.eduwise-text {
    font-size: 18px;
    color: #fff;
}

/* news.html page css */
/* create resume part css */
.resume {
    padding: 50px 0;
}
.resume-paragraph {
    padding-top: 15px;
}
.resume-heading {
    font-weight: 700;
    font-size: 40px;
    color: #ffb606;
}
.resume-text {
    font-size: 18px;
}
.resume-img {
    padding-top: 50px;
}

/*********** Responsive ****************/
@media only screen and (min-width: 320px) and (max-width: 767px) {

.common-padding {
    padding: 50px 0;
 }
/* header part css */
.header {
    height: 666px;
}
/* navbar part css */
.goodreaders-navbar {
    height: 113px;
}
.nav-item {
    background-color: #fff;  
    z-index: 2;
}
.nav-item:hover {
    background: #ffb606;
    box-shadow: 0px 4px 0px 0px #ebe7e7;
}
.dropdown-item:hover {
    background: #ffb606;
    box-shadow: 0px 4px 0px 0px #ebe7e7;
}
/* footer part css */
.footer .social-icon {
    padding: 10px;
    width: 20%;
}
.btn-resume {
    width: 40%;
}
/* banner part css */
.banner-left-text {
    font-size: 25px;
    padding: 0;
}
.singup-form {
    padding: 10px;
}
.common-padding {
    padding: 30px 0;
}
.community-text {
    font-size: 13px;
}
/* best plateform part css */
.best-platform-part {
    height: 685px;
}
/* e-learning part css */
.e-learning-hr-tag {
    width: 70%;
}
.e-learning-title {
    font-size: 25px;
}
/* now start part css */
.btn-now-start-div {
    width: 145%;
}
/* about.html page css */
.choose-us-title {
    font-size: 35px;
}
.posibilities-title {
    font-size: 30px;
}
/* teacher.html page css */
.teacher-info {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* courses page css */
.training {
    padding-left: 40px;
}
/* news page css */
.btn-resume {
    width: 50%;
}
/* contact.html page css */
.form-heading {
    font-size: 44px;
}
.direct-line-phone {
    font-size: 30px;
}
.contact-hr-tag {
    width: 80%;
}
.form-heading {
    font-size: 30px;
}
}
